* {
  margin: 0;
  padding: 0;
  font-family: Netflix San, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
button {
  cursor: pointer;
}
marquee {
  background-color: rgb(46, 46, 46);
  color: white;
  padding: 10px 0;
  font-size: 14px;
}
marquee span {
  margin: 0 80px 0 80px;
}
/* Navbar */
.navbar {
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .is {
  margin-left: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.logo {
  width: 145px;
  height: 35px;
  background-image: url(Images/LOGO_PNG_V01_ca621119-9615-4843-a4c7-3cbf07d1452a.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 250px;
}
.nav {
  width: auto;
  margin-right: 30px;
}
.nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.nav ul li {
  font-size: 14px;
  cursor: pointer;
}
ul li span {
  transform: rotate(180deg);
  display: inline-block;
}
.heroimg {
  height: 480px;
  width: 100%;
  background-image: url(Images/website_6.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heroimg button {
  position: absolute;
  top: 450px;
  left: 50%;
  height: 45px;
  width: 150px;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: 60;
  transition: all 0.5s ease;
}
.heroimg button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
/* SJOP style */
.shopstyle {
  width: 100%;
  height: auto;
  padding: 20px 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  margin: 60px 0 40px 0;
  font-weight: lighter;
}
.product {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.shopstyle .img {
  width: 525px;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  transition: all 0.5s ease;
}
img {
  transition: all 1s ease;
}
.shopstyle img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.product .img button {
  position: absolute;
  top: 450px;
  left: 50%;
  height: 45px;
  width: 150px;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: 60;
  transition: all 0.5s ease;
}
.product .img button:hover {
  background-color: black;
  color: white;
}
.readytowear .product {
  gap: 50px;
}
.readytowear .img {
  width: 375px;
  height: 425px;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  transition: all 1s ease;
}
.readytowear .img button {
  top: 350px;
  left: 50%;
}
.readytowear img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
/* NEWS LETTER */
.newsletter {
  margin-top: 100px;
  text-align: center;
}
.email {
  margin: 20px 0 20px 0;
}
.newsletter input {
  width: 300px;
  height: 50px;
  padding: 10px 5px 10px 5px;
  outline: none;
  border: 1px solid gray;
  border-radius: 2px;
}
.newsletter button {
  height: 50px;
  border-radius: 2px;
  width: 250px;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 60;
  transition: all 0.5s ease;
}
.email button:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
/* FOOTER */
footer {
  width: 100%;
  height: auto;
  background-color: rgb(46, 46, 46);
  color: white;
  padding: 40px 0 40px 0;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 40px;
}
.about ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  color: lightgray;
  transition: all 1s ease;
  list-style: none;
}
.about .socialmedia {
  margin: 40px 0 40px 0;
}
.about .socialmedia ul {
  display: flex;
  gap: 20px;
  flex-direction: row;
  font-size: 1.2rem;
  color: grey;
}
h5 {
  color: lightgrey;
  transition: all 1s ease;
}
.about ul li:hover,
.about h5:hover {
  color: white;
  cursor: pointer;
}
.copyright {
  display: flex;
  justify-content: space-between;
  gap: 400px;
  margin: 0 0 0 35px;
}
.copyright .payments {
  display: flex;
  align-items: center;
}
/* STITCHED FILE CSS */
.stitched {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.stitched h1 {
  text-align: center;
  font-weight: 100;
  margin-bottom: 60px;
}
.stitched ul {
  position: relative;
  display: flex;
  list-style: none;
  font-size: 0.9rem;
  gap: 40px;
  color: grey;
}
.stitched ul li {
  position: relative;
  transition: all 1s ease;
}
.stitched li::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -6px;
  height: 2px;
  background-color: black;
  transition: all 1s ease;
}
.stitched li:hover {
  color: black;
}
.stitched li:hover::after {
  width: 100%;
}
.nav-stitched {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  background: #fff;
  z-index: 1000;
  margin-bottom: 60px;
}
.nav-stitched .i {
  display: flex;
  gap: 10px;
  font-size: 1.1rem;
}
.nav-stitched h5 {
  font-weight: 100;
  color: grey;
  font-size: 1rem;
}
.main {
  display: flex;
}
.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;

  gap: 20px;
  font-size: 1.1rem;
  color: gray;
  transition: all 0.4s ease;
}
.sidebar ul li:hover {
  color: black;
}
.pro-stitched {
  margin: 0 10% 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 650px;
  overflow: scroll;
  scrollbar-width: none;
  z-index: 2;
}
.pro-stitched .pro {
  height: 550px;
  object-fit: cover;
  text-align: center;
  margin: 40px 0 40px 0;
}

.pro img {
  position: relative;
}
.pro i {
  position: absolute;
  left: 10px;
  font-size: 1.1rem;
  top: 50px;
}
.pro h3 {
  font-weight: 100;
  color: black;
  font-size: 1rem;
  margin: 5px 0 10px 0;
}
.pro h5 {
  color: black;
  margin: 5px;
}
/* SUITS PAGE  */
.suit {
  display: flex;
  height: 100%;
  margin: 50px 0 40px 20px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 825px;
  overflow: scroll;
  scrollbar-width: none;
}
.photos {
  display: flex;
  flex-direction: column;
  height: 825px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  gap: 30px;
  margin: 0 100px 0 100px;
}
.doc {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30%;
}
.doc h3 {
  color: grey;
  font-weight: 10;
  font-size: 1.1rem;
}
.doc h5 {
  font-weight: 10;
  color: grey;
}
.headings h4 {
  font-weight: 550;
  font-size: 0.9rem;
}
.doc .headings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.doc .type h4 {
  font-weight: 100;
  font-size: 0.9rem;
}

.doc .type button {
  background-color: #fff;
  width: 100px;
  height: 45px;
  font-size: 0.9rem;
  border: 1px solid black;
}
.btn {
  color: grey;
  border: 1px solid grey;
  margin-left: 10px;
}
.doc .size h4 {
  font-weight: 100;
  font-size: 0.9rem;
  display: flex;
  gap: 66%;
}
.doc .size h4 a {
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
}
.doc .size button {
  color: black;
  width: 40px;
  background-color: #fff;
  border: 1px solid black;
  height: 40px;
  font-size: 1rem;
}
.doc .size .btn {
  color: grey;
  border: 1px solid grey;
  margin-left: 10px;
}
.doc .size .add {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
}
.add span {
  font-size: 1.5rem;
  font-weight: 100;
}
.doc .size .cat {
  width: 100%;
  background-color: black;
  color: #fff;
  transition: all 0.5s ease;
}
.doc .size .cat:hover {
  background-color: #fff;
  color: black;
}
.additions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.addings {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.addings h4 {
  font-weight: 100;
}
.addings p {
  font-size: 1.3rem;
}
.related-products {
  margin: 150px 10px 40px 20px;
  text-align: center;
}
.related-products .product .img {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;
}
.related-products .product img:hover {
  transform: scale(1);
}
.related-products .product h4 {
  font-weight: 100;
}
.related-products .product h5 {
  font-weight: 550;
  color: black;
}
.related-products .product h6 {
  font-weight: 100;
}
/* CART PAGE */
.cart {
  text-align: center;
  margin: 60px 150px 60px 150px;
}
.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart .head h1 {
  margin: 0px 0px 20px 0;
  width: max-content;
}
.cart .head p {
  color: grey;
  font-size: 0.8rem;
  width: max-content;
}
.cart-list {
  width: 100%;
  margin-top: 70px;
}
.cart-list table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
table th {
  text-align: end;
  font-size: 0.8rem;
  font-weight: 100;
  color: grey;
  width: 350px;
  padding-bottom: 10px;
}
table th:nth-child(1) {
  width: 600px;
  text-align: left;
  padding: 0 10px 10px 0;
}
th:nth-child(2) {
  width: 230px;
  text-align: center;
  padding: 0 10px 10px 0;
}
table .desc {
  width: 600px;
  padding: 10px 10px 10px 0;
  display: flex;
  height: 220px;
  gap: 20px;
}
.blog {
  display: flex;
  width: 60%;
  flex-direction: column;
  padding-top: 30px;
  align-items: flex-start;
  gap: 15px;
  height: 200px;
}
.desc p {
  color: black;
  font-size: 0.8rem;
}
.blog h3 {
  font-weight: 100;
  font-size: 0.9rem;
}
.blog h4 {
  font-size: 0.9rem;
  font-weight: bold;
}
.blog h5 {
  font-weight: 100;
  color: grey;
}
td button {
  background-color: #fff;
  border: 1px solid black;
  height: 35px;
  transform: translateX(20%);
}
td .add {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
}
.add span {
  font-size: 1.5rem;
  font-weight: 100;
}
td a {
  color: black;
  margin-top: 10px;
  display: inline-block;
  font-size: 0.9rem;
}
.price {
  text-align: right;
  font-size: 0.9rem;
}
.total {
  text-align: right;
  height: 220px;
  line-height: 30px;
}
.total h3 {
  font-weight: 100;
  font-size: 1.1rem;
}
.total p {
  font-size: 0.8rem;
}
.total .checkout {
  background-color: black;
  color: #fff;
  width: 150px;
  height: 45px;
  margin: 30px 30px 0 0;
  font-size: 1rem;
  transition: all 0.5s ease;
}
.checkout:hover {
  background-color: #fff;
  color: black;
}
/* CHECKOUT PAGE */
.finalpage {
  display: flex;
}
.check-nav {
  justify-content: center;
  height: 80px;
}
.check-logo {
  margin: 0%;
  width: 160px;
}
.info {
  width: 60%;
  display: flex;
  justify-content: right;
  padding-top: 40px;
  margin-bottom: 30px;
  padding-right:20px ;
  height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
}
.forms {
  width: 78%;
  padding-right: 10px;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.forms h2 {
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-content: baseline;
}
.contact h2 a {
  color: black;
  font-size: 0.9rem;
  font-weight: 100;
  display: flex;
  align-items: flex-end;
}
.contact #email {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}
.contact #checkbox {
  background-color: black;
  width: 18px;
  height: 18px;
  border: 1px solid lightgray;
  margin-right: 3px;
  outline: black;
}
.contact span {
  text-align: center;
  font-weight: 100;
}
.contact .intern {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px 5px 10px 15px;
  background-color: rgb(238, 237, 237);
  border-radius: 5px;
  gap: 10px;
  border: 1px solid grey;
}
.intern h5 {
  color: black;
}
.intern i {
  color: grey;
}
.intern p {
  font-size: 0.9rem;
  padding-left: 20px;
}
.intern a {
  font-size: 0.9rem;
  padding-left: 20px;
  color: grey;
}
.delivery {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.delivery #selector {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.delivery .fulname {
  display: flex;
  gap: 10px;
}
.delivery .fulname input {
  width: 49%;
  height: 50px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.delivery .address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.delivery .address input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.delivery .cities {
  display: flex;
  gap: 10px;
}
.delivery .cities input {
  width: 49%;
  height: 50px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
.phone input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.phone #save-info {
  background-color: black;
  width: 18px;
  height: 18px;
  border: 1px solid lightgray;
  margin-right: 3px;
  margin-top: 10px;
  outline: black;
}
.saves {
  display: flex;
}
.saves p {
  text-align: center;
  margin-top: 10px;
}
.select-city h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}
.select-city select {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.shipping-method h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}
.shipping-method p {
  height: 50px;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: 0 10px 0 10px;
}
.shipping-method b {
  font-size: 0.8rem;
}
.payments {
  display: flex;
  flex-direction: column;
}
.payment-methods .cash {
  display: flex;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: 1px solid grey;
}
.cash1 {
  display: flex;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: 1px solid grey;
}
.cash input,
.cash1 input {
  width: 20px;
  color: #fff;
  background-color: black;
}
.cash p,
.cash1 p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.methods {
  background-color: rgb(249, 245, 245);
  display: flex;
  flex-direction: column;
  padding: 30px 10px 30px 10px;
  gap: 20px;
}
.methods input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background-color: transparent;
}
.dates {
  display: flex;
  gap: 10px;
}
.dates input {
  width: 49%;
  height: 50px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
.cardname input:nth-child(2) {
  background-color: black;
  width: 18px;
  height: 18px;
  border: 1px solid grey;
  margin-right: 3px;
  margin-top: 5px;
  outline: black;
}
.forms button {
  width: 100%;
  height: 50px;
  background-color: black;
  color: #fff;
  margin: 30px 0 30px 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bolder;
}
.policies {
  display: flex;
  color: black;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.policies a {
  color: black;
  font-size: 0.9rem;
}
.secpart {
  width: 50%;
  background-color: rgb(244, 241, 241);
  padding: 40px 120px 30px 30px;
  
}
.dresses {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height:250px;
  overflow-y:scroll ;
}
.dresses .dress {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}
.all-dress{
  display: flex;
  gap: 20px;
}
.dress-img{
 border-radius: 10px;
  width: 60px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.dress-img::before{
  position: absolute;
  content: "1";
  width: 18px ;
  height: 18px;
  background-color: black;
  color: #fff;
  border: #fff 2px solid;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 4px;
  top: -5px;
  right: -10px;
}
.data{
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.data h5{
  color: black;
  font-weight: 100;
}
.data p{
  color: grey;
  font-size: 0.7rem;
}
.pr p{
  font-size: 0.9rem;
}
.dicount{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.dicount input{
  width: 84%;
  height: 50px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding-left: 10PX;
}
.dicount button{
  color: rgb(116, 116, 116);
  width: 15%;
  height: 50px;
  font-weight: bold;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 5px;
  background-color: rgb(238, 235, 235);
}
.overtotal{

  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subtotal{
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.ship{
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.tot{
  display: flex;
  justify-content: space-between;
}
.tot span{
  color: grey;
  font-size: 0.7rem;
  font-weight: 100;
  margin-right: 10px;
}
.tax{
  color: grey;
  font-size: 0.8rem;
}